@using MvcPaging
@model MvcPaging.IPagedList<MVC_IA.Models.DownLoad>
@{
    ViewBag.Title = "Index";
}

<div id="banner-area" class="banner-area" style="background-image:url(../Content/Images/banner-bg.jpg)">
    <!-- Subpage title start -->
    <div class="banner-text text-right">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="breadcrumb">
                        <li>首頁</li>
                        <li>知識庫</li>
                        <li><a href="#"> 知識庫下載</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Subpage title end -->
</div>
<!-- Banner area end -->
<section id="main-container" class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="sidebar sidebar-right">
                    <div class="widget">
                        <h2 class="widget-title"><i class="fa fa-folder-open-o">&nbsp;</i>知識庫</h2>
                        <ul class="arrow nav nav-tabs nav-stacked">
                            <li class="active"><a href="#">知識庫下載</a></li>
                        </ul>
                    </div>
                    <!-- Categories end -->
                </div>
                <!-- Sidebar end -->
            </div>
            <!-- Sidebar Col end -->
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <h2 class="page-title">知識庫下載</h2>
                <hr class="botmargin-min">
                @foreach (var item in Model)
                {
                    <div class="post">
                        <div class="row">
                            <div class="col-md-3 col-sm-12 col-xs-12">
                                <div class="post-media post-image">
                                    <a href="news_show.html"><img alt="img" src="~/upfile/images/@item.Photo" class="img-responsive"></a>
                                </div>
                            </div>
                            <div class="col-md-9 col-sm-12 col-xs-12">
                                <div class="post-body">
                                    <div class="entry-header">
                                        <span class="post-meta-date"><i class="fa fa fa-clock-o"></i> @item.DateTime</span>
                                        <h3 class="entry-title">
                                            <a href="~/KnowledgeBase/Show/@item.Id">@item.Title</a>
                                        </h3>
                                        <p></p>
                                    </div>
                                    <!-- header end -->
                                    <div class="post-footer">
                                        <a href="~/KnowledgeBase/Show/@item.Id" class="btn btn-primary">more</a>
                                    </div>
                                </div>
                                <!-- post-body end -->
                            </div>
                        </div>
                    </div>
                    <!-- 1st post end -->
                }



                <!-- 6rd post end -->
                @*<div class="paging text-center">
                        <ul class="pagination">
                            <li><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                        </ul>

                        <div class="paging text-center">
                            <span class="disabled">«</span>
                            <span class="current">1</span>
                            <a href="/news?page=2" title="">2</a>
                            <a href="/news?page=3" title="">3</a>
                            <a href="/news?page=4" title="">4</a>
                            <a href="/news?page=2" title="Next page">»</a>
                        </div>


                    </div>*@
                <div class="pager">
                    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
                </div>
            </div>
            <!-- Content Col end -->
        </div>
        <!-- Main row end -->
    </div>
    <!-- Conatiner end -->
</section>

